include .gitignore
recursive-include awsibox/cfg *
recursive-include awsibox/aws *
recursive-include awsibox/templates *
recursive-include awsibox/lambdas *
recursive-include awsibox/user-data *

exclude awsibox/cfg/*/.*.swp
